.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.tweet_input{
	height: 100px;
	width: 200px;
	border-radius: 8px;
	margin-left:10px;
}
