<% @user_articles.each do |mmm| %>
  <%= mmm.content %>
  Votes: <%= mmm.votes %>
  <form action='/posts/<%=mmm.id%>/edit' method='POST'>
    <input type='text' name='content' placeholder='New Content'>
    <input type='submit' value='Edit'>
  </form>

  <form action='/posts/<%=mmm.id%>/delete' method='POST'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete'>
  </form>
<% end %>


<a href='/'>Home</a>
