<head>
	<link rel='stylesheet' href ='/css/welcome.css' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<header>
	<img id="logo" src="images/comment9.png">
	<span id='tagline'>Flutter</span>
</header>

<div class="welcome_container">

<h1>Welcome to Flutter!</h1>

<div id='sign_in'>
	<h3>Sign In!</h3>
 	<form action='/login' method="POST">
  		<input type="text" name="handle" placeholder="Choose Handle" />
  		<input type="password" name="password" placeholder="Password" />
  		<input type="submit" value="Sign in!"/>
	</form>
</div>


<div id='sign_up'>
 	<h3>Sign Up!</h3>
 	<form action='/signup' method="POST">
  		<input type="text" name="name" placeholder="Name" />
  		<input type="text" name="handle" placeholder="Choose Handle" />
  		<input type="password" name="password" placeholder="Password" />
  		<input type="submit" value="Sign up!" />
	</form>
</div>

