
<head>
	<link rel='stylesheet' href ='/css/account.css' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<header>
	<img id="logo" src="/images/comment9.png">
	<span id='tagline'>Flutter</span>
	<span id="search">Search for Users
	<form action='/search' method='GET'>
  	<input type="text" name="handle" placeholder="Handle"/>
  	<input type="submit" value="Submit!"/>
	</form></span>
</header>

<section>
	<article id='own_tweets'>
		<p><i> Here is <%= @user.handle %>'s Tweet History</i></p>
		<% @user.tweets.each do |tweet| %>
			<div class='tweet'>
			<p class='tweet_content'><%= tweet.content %></p>
			<h6 class = 'date'><%=tweet.time_difference%></h6>
		</div>
		<% end %>
		<a href='/account'>Your Account</a>
		<a href = '/list_users'>See all users</a>
		<form id='Follow'>
			<br/>
 			<input type='submit' value='Follow This User' formaction="/follow/<%= params[:handle] %>" method="POST">
 		</form>
	</article>
</section>





