<h3><u> Here is <%= @user.handle %>'s Tweet History</u></h3>
<a href = '/list_users'>See all users</a>

<% @user.tweets.each do |tweet| %>
	<p><%= tweet.content %></p>
	<h6><%= tweet.created_at %></h6>
<% end %>

<form>
 <input type='submit' value='Follow This User' formaction="/follow/<%= params[:handle] %>" method="POST">
 </form>

<a href='/account'>Your Account</a>
